<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <httpErrors errorMode="Detailed" />
        <security>
            <access sslFlags="None" />
        </security>
    </system.webServer>
    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
        <trace enabled="true" />
        <httpRuntime enableVersionHeader="true" />
        <authentication>
            <forms requireSSL="false" loginUrl="/login" />
        </authentication>
    </system.web>
</configuration>
